<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Home Page of Joels Place</title>
    
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css'%}">
</head>

<body class="home">

  <ul class="social">
    <li><a href="">
      <img src="images/facebook.png" alt="Facebook logo">
    </a></li>
    <li><a href="">
      <img src="images/in.png" alt="linkedln logo">
    </a></li>
    <li><a href="">
      <img src="images/instagram.png" alt="instragram logo">
    </a></li>
    
  </ul>
<header>
  <div class="inner-header">
  <a href="index.html">
  <img id="logo" src="images/logo.png" alt="logo">
  </a>
</div>

  <nav id="primary">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="menu.html">Menu</a></li>
    <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>  

</header>


<div id="wrapper">
  <main> 
    <div id="hero">
        <img src="images/banner.jpg" alt="banner">
        </div> <!--end hero-->
 <!--end hero--> 
 

 <div class ="row">
  <div class="third">
      <div class="container">
        <a href="about.html#jump">
          <img src="images/menu.jpg" alt="photo of food" style="width: 100%;">
        </a>
          
          <div class="text-block1">
           <h3><a href="menu.html#jump"> Our Menu</a></h3>
          </div>
            </div>
        <h3>This is my headline</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ut enim ad minim veniam. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. <span>
        <a href="menu.html#jump">Read More</a>
        </span></p>

    </div> <!--end first third-->
        <div class="third">
          <div class="container">
          <a href="menu.html">
            
                <img src="images/drinks.jpg" alt="photo of drinks" style="width: 100%;">
              </a>
                <div class="text-block2">
                 <h3><a href="menu.html#jump2">Drink Selection</a></h3>
                </div>
                  </div>
          <h3>This is my headline</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ut enim ad minim veniam. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. <span>
            <a href="menu.html#jump2">Read More</a>
            </span></p>
    
        </div> <!--end second third-->

        <div class="third">
          <div class="container">
          <a href="menu.html">
            
                <img src="images/happyhour.jpg" alt="photo of food and drinks" style="width: 100%;">
              </a>
                
                <div class="text-block3">
                 <h3><a href="menu.html#jump3"> Happy Hour</a></h3>
                </div>
                  </div>
          <h3>This is my headline</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ut enim ad minim veniam. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. <span>
            <a href="menu.html#jump3">Read More</a>
            </span></p>
    
        </div><!--end third third-->

        
</div> <!--end row-->

</main>

<footer>
<ul>
<li>Copyright &copy; 2021</li>    
<li>All Rights Reserved</li>
<li><a href="">Terms of use</a></li>
<li><a href="../index.html">Web Design by James</a></li>
<li><a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fcompass.northseattle.edu%2F~jfilip%2Fit161%2Ffinal%2Findex.html"><img src="images/html5.png" alt ="HTML 5 logo">
</a></li>


</ul>


</footer>


</div> <!--end wrapper-->

</body>
</html>